{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section>
    <div class="container">
      <div>
        <div class="row">
          <div class="col-12">
            {% comment %}Page introduction section{% endcomment %}
            <section>
              <div class="row d-flex justify-content-center my-4">
                <div class="col-10">
                  <h1 class="text-center">Thank you!</h1>
                  <hr />
                  <p>Your can find your order information below.</p>
                </div>
              </div>
            </section>
          </div>
          {% comment %}Membership info summary section{% endcomment %}
          <div class="col-12 col-lg-7">
            <section>

            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
