{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section>
    <div class="container">
      <div>
        <div class="row">
          <div class="col-12">
            {% comment %}Page introduction section{% endcomment %}
            <section>
              <div class="row d-flex justify-content-center my-4">
                <div class="col-10">
                  <h1 class="text-center">Thank you!</h1>
                  <hr />
                  <p>Your can find your order information below.</p>
                </div>
              </div>
            </section>
          </div>
          {% comment %}Membership info summary section{% endcomment %}
          {% comment %} Inspiration for this success page summary taken
          from code institute boutique ado project {% endcomment %}
          <div class="col-12 col-lg-7">
            <section>
              <div class="subscription-confirmation-wrapper p-2 border">
                <div class="row">
                  <div class="col">
                    <small class="text-muted">Subscription Information:</small>
                  </div>
                </div> 

                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Gym location</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.gym_location }}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">membership_type</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.membership_type }}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Membership is active until</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.membership_end_date|date:"m-d-Y" }}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col mt-3">
                    <small class="text-muted">Address Details:</small>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Full name:</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.full_name }}</p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Street address 1</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.street_address_1 }}</p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Street address 2</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.Street_address_2 }}</p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">County</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.county }}</p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Town or City</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.town_or_city }}</p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Postal code</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.post_code }}</p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Country</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.country }}</p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Phone number</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.phone_number }}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col mt-3">
                    <small class="text-muted">Billing Info:</small>
                  </div>
                </div>

                
                
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Order total</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    {% comment %} <p class="mb-0">{{ membership.FILL THIS UP }}</p> {% endcomment %}
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Joining fee</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.id }}</p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-0 fw-text-semi-bold">Grand total</p>
                  </div>
                  <div class="col-12 col-md-4 text-md-right">
                    <p class="mb-0">{{ membership.id }}</p>
                  </div>
                </div>


              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
