{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block meta %}
  <meta name="description" content="Fill out the form to add or edit an exercise" />
{% endblock %}

{% block extra_title %}
  Exercise form
{% endblock %}
{% block content %}
  {% if user.is_staff %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ exercise_form|crispy }}
                {% csrf_token %}
              <div class="d-flex justify-content-center">
                <button type="submit" class="button">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
