{% extends 'base.html' %}

{% block content %}
  {% comment %}Admin section{% endcomment %}
  {% if request.user == is_staff %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a href="{% url "edit_exercise_item" exercise.slug %}">Edit exercise</a>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% comment %}Cards list section{% endcomment %}
  <section class="container p-0">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <h1>{{ exercise.exercise_title }}</h1>
        </div>
        {% comment %}Image and key information section{% endcomment %}
        <div>
          <div class="row primary-clr-bg h-100">
            <div class="col-6 p-0 h-100">
              <img class="h-100" src="{{ exercise.image.url }}" alt="{{ exercise.exercise_title }}" />
            </div>
            <div class="col-6">
              <h3 class="my-4 fw-light">Difficulty:{{ exercise.difficulty }}</h3>
              <h3 class="my-4 fw-light">Intensity:{{ exercise.intensity }}</h3>
              <h3 class="my-4 fw-light">Equipment:{{ exercise.equipment }}</h3>
            </div>
          </div>
        </div>
        <h2>Instructions</h2>
        <p>{{ exercise.instruction }}</p>

        <div>
          <h2>Additional information</h2>
          <p>
            <strong>Targeted muscles:</strong>{{ exercise.targeted_muscles }}
          </p>
          <p>
            <strong>Indirectly targeted muscles:</strong>{{ exercise.indirectly_targeted_muscles }}
          </p>
          <p>
            <strong>Recommended sets and reps:</strong>{{ exercise.recommended_sets }} X {{ exercise.recommended_reps }} (sets X reps)
          </p>
        </div>
      </div>
    </div>
  </section>

  {% comment %} {{ exercises }} {% endcomment %}
{% endblock %}

{% comment %}
{{ exercise.exercise_title }}
{{ exercise.image.url }}
{{ exercise.difficulty }}
{{ exercise.intensity }}
{{ exercise.instruction }}
{{ exercise.equipment }}
{{ exercise.targeted_muscles }}
{{ exercise.indirectly_targeted_muscles }}
{{ exercise.slug }}
{{ exercise.recommended_sets }}
{{ exercise.recommended_reps }}
{% endcomment %}
