{% extends 'base.html' %}

{% block content %}
  {% comment %}Admin section{% endcomment %}
  {% if user.is_staff %}
  {% comment %} Edit and delete buttons section {% endcomment %}
    <section>
      <div class="container my-4 mx-3">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <a href="{% url 'edit_exercise_item' exercise.slug %}" class="blue-btn text-center mx-2 mx-sm-3 mx-md-4">Edit exercise</a>
            <button type="button" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" class="mx-2 mx-sm-3 mx-md-4">Delete Exercise</button>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  
  {% comment %} If users are paying members gain access to this section {% endcomment %}
{% if user.is_authenticated %}
{% comment %} Add a favourite exercise button section {% endcomment %}
<section>
  <form method="POST" action="{% url 'toggle_is_favourite_exercise' exercise.id %}">
    {% csrf_token %}
    {{add_exercise_form}}
    {% comment %} add_exercise_form {% endcomment %}
    <button type="submit"><i class="fa-regular fa-heart"></i></button>
  </form>
  <a href="{% url 'toggle_is_favourite_exercise' exercise.id %}"></a>
</section>{% endif %}
  {% comment %}Cards list section{% endcomment %}
  <section class="container p-4">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <h1>{{ exercise.exercise_title }}</h1>
        </div>
        {% comment %}Image and key information section{% endcomment %}
        <div>
          <div class="row primary-clr-bg h-100">
            <div class="col-12 col-sm-6 p-0 h-100">
              <img class="h-100" src="{{ exercise.image.url }}" alt="{{ exercise.exercise_title }}" />
            </div>
            <div class="col-12 col-sm-6">
              <h3 class="my-4 fw-light">Difficulty:{{ exercise.difficulty }}</h3>
              <h3 class="my-4 fw-light">Intensity:{{ exercise.intensity }}</h3>
              <h3 class="my-4 fw-light">Equipment:{{ exercise.equipment }}</h3>
            </div>
          </div>
        </div>
        <h2>Instructions</h2>
        <p>{{ exercise.instruction }}</p>

        <div>
          <h2>Additional information</h2>
          <p>
            <strong>Targeted muscles:</strong>{{ exercise.targeted_muscles }}
          </p>
          <p>
            <strong>Indirectly targeted muscles:</strong>{{ exercise.indirectly_targeted_muscles }}
          </p>
          <p>
            <strong>Recommended sets and reps:</strong>{{ exercise.recommended_sets }} X {{ exercise.recommended_reps }} (sets X reps)
          </p>
        </div>
      </div>
    </div>
  </section>
  {% comment %}Delete exercise confirmation modal section{% endcomment %}
  <section>
    {% comment %}Original code taken from bootstrap docs and tweaked https://getbootstrap.com/docs/5.3/components/modal/{% endcomment %}
    <div id="deleteConfirmationModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-center">
            <h5 class="modal-title">Confirm exercise deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="text-center">Are you certain you want to delete this exercise?</p>
            <p class="text-center">
              <strong>This action cannot be reversed!</strong>
            </p>
          </div>
          <div class="modal-footer">
            <a href="{% url 'delete_exercise_item' exercise.slug %}" class="red-btn">Delete Exercise</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% comment %}
{{ exercise.exercise_title }}
{{ exercise.image.url }}
{{ exercise.difficulty }}
{{ exercise.intensity }}
{{ exercise.instruction }}
{{ exercise.equipment }}
{{ exercise.targeted_muscles }}
{{ exercise.indirectly_targeted_muscles }}
{{ exercise.slug }}
{{ exercise.recommended_sets }}
{{ exercise.recommended_reps }}
{% endcomment %}
