{% extends 'base.html' %}

{% block content %}
  {% comment %}Exercise list cards section{% endcomment %}
  <section class="container">
    <div class="row">
      {% for exercise in exercises %}
        <div class="col-12 exercise-item-container">
          <div class="row">
            <div class="col-4 exercise-item-image-container">
              <img class="exercise-item-image w-100" src="{{ exercise.image.url }}" alt="{{ exercise.exercise_title }}" />
            </div>
            <div class="col-8 exercise-item-content-container">
              <h3>{{ exercise.exercise_title }}</h3>
              <p>Muscles targeted:{{ exercise.targeted_muscles }}</p>
              <p>Equipment:{{ exercise.equipment }}</p>
              <p>Difficulty: {{ exercise.difficulty }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  {% comment %} {{ exercises }} {% endcomment %}
{% endblock %}

{% comment %}
{{ exercise.exercise_title }}
{{ exercise.image.url }}
{{ exercise.difficulty }}
{{ exercise.intensity }}
{{ exercise.instruction }}
{{ exercise.equipment }}
{{ exercise.targeted_muscles }}
{{ exercise.indirectly_targeted_muscles }}
{{ exercise.slug }}
{{ exercise.recommended_sets }}
{{ exercise.recommended_reps }}
{% endcomment %}
