{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      {% if page_object %}
        {% for exercise in page_object %}
          <div class="col-12 col-md-6 col-xl-4 p-0">
            <div class="p-5 h-100">
              <div class="row exercise-item-content-container h-100">
                <a href="{% url 'exercise_detail' exercise.exercise_id.slug %}" class="p-0">
                  <div class="col-12 h-100">
                    <img class="exercise-item-image w-100" src="{{ exercise.exercise_id.image.url }}" alt="{{ exercise.exercise_title }}" />
                    <div class="px-3 py-1">
                      <h3 class="my-3 exercise-item-header w-100 pb-3">{{ exercise.exercise_id.exercise_title }}</h3>
                      <p class="mt-2">Muscles targeted: {{ exercise.exercise_id.targeted_muscles }}</p>
                      <p class="mt-2">Equipment: {{ exercise.exercise_id.equipment }}</p>
                      <p class="mt-2">Difficulty: {{ exercise.exercise_id.difficulty }}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
        {% comment %}Paginator controller{% endcomment %}
        {% comment %}Copied pasted from exercise_list.html{% endcomment %}
        <div class="col-12">
          <div class="pagination justify-content-center">
            <span class="step-links">
              {% if page_object.has_previous %}
                <a class="mx-1 mx-sm-2 underline" href="?page=1">&laquo; first</a>
                <a class="mx-1 mx-sm-2 underline" href="?page={{ page_object.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current mx-1 mx-sm-3">Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}</span>

              {% if page_object.has_next %}
                <a class="mx-1 mx-sm-2 underline" href="?page={{ page_object.next_page_number }}">next</a>
                <a class="mx-1 mx-sm-2 underline" href="?page={{ page_object.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div>
      {% else %}
        <div class="col-12 col-md-6 col-xl-4 p-0">
          <div class="p-5 h-100">
            <div class="row exercise-item-content-container h-100">
              <div class="col-12 h-100">
                <h1>Nothing here yet...</h1>
                <h2>Add favourites by selecting exercises and clicking the heart icon</h2>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
