{% extends 'base.html' %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block meta %}
 <meta name="description" content="Your password has been reset" />
{% endblock %}


{% block extra_title %}
Password reset complete
{% endblock %}
{% block head_title %}
  {% trans 'Password Reset' %}
{% endblock %}
{% block content %}
    {% comment %}Password reset done section{% endcomment %}
    <section>
      <div class="container my-5">
        {% element h1 %}
        {% trans 'Password Reset' %}
        {% endelement %}
        {% if user.is_authenticated %}
          {% include 'account/snippets/already_logged_in.html' %}
        {% endif %}
        {% element p %}
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
        {% endelement %}
        <a class="button" href="{% url 'home' %}">Home</a>
      </div>
    </section>
{% endblock %}
