{% extends 'base.html' %} {% load static %} {% block meta %}
<meta name="description" content="5 Error, Internal server error" />
{% endblock %} {% block extra_title %} Error 500 Internal server error{% endblock %} {%
block content %}
<section>
  <div class="container p-0">
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-md-6 light-grey-bg">
        <h1 class="text-center">500 error</h1>
        <h2>
          The server encountered an error and cannot complete your request
        </h2>
        <div class="d-flex justify-content-center">
          <a class="button" href="{% url 'home' %}">Take me back home</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
