{% extends 'base.html' %}
{% load static %}
{% block meta %}
  <meta name="description" content="Home page, welcome to Pro Gainer the site for big gains. Signup for a membership and access the best gyms we have and online assistance." />
{% endblock %}

{% block extra_title %}
  Home
{% endblock %}

{% block content %}
  <section class="home-section">
    {% comment %}Hero image section{% endcomment %}
    <section class="home-hero-img-container">
      <div class="row">
        <div class="col-12">
          <img class="home-hero-img" src="{% static 'images/home_page/hero_image.jpg' %}" alt="" />
        </div>
      </div>
    </section>
{% endblock %}
